# Project exclude paths
/node_modules/
/vendor/davejamesmiller/laravel-breadcrumbs/
/vendor/symfony/event-dispatcher-contracts/
/vendor/symfony/mime/
/vendor/symfony/polyfill-php73/
/vendor/symfony/service-contracts/
/vendor/symfony/translation-contracts/