body{
    background-color: #ffffff;
}
.body{
    margin-top: 4px;
    margin-bottom: 2px;
}
.row{
    background-color: #f8f9fa;
}
.span{
    margin-top: 4px;
}
div#one_head {
    margin-bottom: 2px;
}
div#twoo_head {
    margin-bottom: 2px;
}
.all-count {
    text-align: left;
}
.zamanuha {
    text-align: right;
}
/*Почистить*/
footer{
    padding-top: 20px;
}
footer.bottom-footer {

    color: #fff;

}
footer.bottom-footer .row {
    background: #333;
}
footer.bottom-footer .footer-menu__title {
    font-size: 17px;
    margin-bottom: 10px;
    font-family: Roboto,sans-serif;
    font-weight: 900;
}
footer.bottom-footer ul {
    padding: 0;
}
footer.bottom-footer .footer-menu__item {
    display: block;
}
footer.bottom-footer ul li {
    display: inline-block;
    list-style: none;
    margin-bottom: 7px;
}
footer.bottom-footer .footer-menu__link {
    font-size: 14px;
}
footer.bottom-footer a {
    color: #fff;
}
/*Почистить*/
a:hover {
    text-decoration: unset; /* Добавляем подчеркивание при наведении курсора на ссылку */
}
a {
    color: #337ab7;
    text-decoration: none;
}
/*Хлебные крошки*/
.product-top {
    padding: 10px 0;
}
.product-breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}
.force-back {
    font-family: Roboto,sans-serif;
    font-weight: 500;
    color: #666;
    margin-right: 20px;
    text-decoration: none;
    min-width: 125px;
}
.force-back .fa {
    color: #999;
}
.product-breadcrumbs__list {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item:not(:first-of-type):before {
    content: "\2014";
    position: absolute;
    top: 1px;
    left: -15px;
    width: 10px;
    height: 10px;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item:not(:first-of-type) {
    margin-left: 20px;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item {
    position: relative;
    display: inline-block;
    color: #999;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item a {
    font-size: 14px;
    color: #999;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item a {
    font-size: 14px;
    color: #999;
}
.article {
    text-align: right;
}
.article span {
    color: #999;
    padding: 2px 6px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/*Хлебные крошки*/
/*preloader*/
.newloader {
    background: rgba(255,255,255,.8);
    height: 100%;
    min-height: 200px;
    width: 100%;
    z-index: 40;
    top: 0;
    left: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
.newloader .loading-effect-2 {
    width: 60px;
    height: 60px;
}
.newloader .clear-loading {
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.newloader .loading-effect-2>span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    animation: effect-2 2s infinite linear;
}
.newloader .loading-effect-2>span, .newloader .loading-effect-2>span:after, .newloader .loading-effect-2>span:before {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #09f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.newloader h3 {
    color: #09f;
    font-size: 18px;
}
/*preloader*/
/*Карточка товара*/
.product__image-preview #swiper-thumbnails {
    margin: 0 auto;
    max-height: 441px;
    padding: 27px 0;
    text-align: center;
    width: 75px;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.product__image-preview #swiper-thumbnails .swiper-slide a {
    display: block;
    width: 100%;
}
.product__image-preview #swiper-thumbnails .swiper-slide a img {
    width: 100%;
}
.product__image-preview #swiper-thumbnails .swiper-vm-button-next.swiper-button-disabled, .product__image-preview #swiper-thumbnails .swiper-vm-button-prev.swiper-button-disabled {
    color: #fff;
    cursor: default;
}
.product__image-preview #swiper-thumbnails .swiper-vm-button-prev {
    top: 0;
}
.product__image-preview #swiper-thumbnails .swiper-vm-button-next, .product__image-preview #swiper-thumbnails .swiper-vm-button-prev {
    background: #fff;
    color: #a1a1a1;
    cursor: pointer;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.product__image-preview #swiper-thumbnails .swiper-vm-button-next.swiper-button-disabled, .product__image-preview #swiper-thumbnails .swiper-vm-button-prev.swiper-button-disabled {
    color: #fff;
    cursor: default;
}
.product__image-preview #swiper-thumbnails .swiper-vm-button-next {
    bottom: 0;
}
.product__image-preview #swiper-thumbnails .swiper-vm-button-next, .product__image-preview #swiper-thumbnails .swiper-vm-button-prev {
    background: #fff;
    color: #a1a1a1;
    cursor: pointer;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.product__image {
    position: relative;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.product__image .item-image {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.product__image .item-image a {
    float: right;
}
.product__image .item-image img {
    max-width: 100%;
    z-index: 3;
    color: #fff;
    padding-bottom: 10px;
}
.product__image .item-image i.sprite {
    position: absolute;
    right: 24px;
    top: 0;
}
.vm-pz {
    background-position: -563px -49px;
    width: 74px;
    height: 36px;
}
.sprite {
    display: inline-block;
    background-image: url(../sprites/spritesheet.png?v=jg1542604554);
    background-repeat: no-repeat;
}
.vm-ct {
    background-position: -504px -89px;
    width: 46px;
    height: 46px;
}
.vm-kc {
    background-position: -389px -89px;
    width: 60px;
    height: 64px;
}
.preview-navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.preview-navigation {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.preview-navigation #owl-preview {
    overflow: hidden;
    width: 100%;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}


.product__info {
    overflow: initial;
}
.product h1, .product h4 {
     margin: 0;
 }
.product__info-model-name {
    line-height: initial;
    padding-bottom: 10px;
}
.product__info-model {
    display: block;
    font-size: 15px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}
.product__info-name {
    font-size: 22px;
    font-family: Roboto,sans-serif;
    font-weight: 900;
}
.product__info-model .product-info-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/assets/css/images/icons-sprite.png) no-repeat transparent -60px -30px;
    margin-bottom: -2px;
}
.product__info .alert.not-available {
    display: none;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.product-price {
    font-family: Roboto,sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: initial;
    position: relative;
    padding-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}
.product-price .fa-ruble {
    font-size: 33px;
}
.product-price .old-price {
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.product-price .old-price__amount {
    margin: 0 10px;
    line-height: 48px;
    color: #999;
    text-decoration: line-through;
}
.product-price .old-price__label {
    position: relative;
    padding: 1px 3px;
    background: #f90;
    color: #fff;
    border-radius: 0 3px 3px 0;
    font-size: 15px;
}
.product-price .old-price__label:before {
    position: absolute;
    content: "";
    top: 0;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 7px 10.5px 0;
    border-color: transparent #f90 transparent transparent;
}

.product__size {
    margin-bottom: 30px;
}
.product__size-table {
    font-size: 14px;
    padding-bottom: 10px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}
.product__size-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.product__size-list li {
    font-size: 12px;
    color: #666;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 33px;
    margin: 0 8px 8px 0;
    width: 76px;
    padding: 8px 2px;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}
.product__size-list li.centered {
    width: 95px;
}

.product__color {
    margin-bottom: 30px;
}
.product__color-name {
    font-size: 14px;
    padding-bottom: 10px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}
.product__color-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.product__color-list li.fullprint {
    box-shadow: 0 0 0 2px #09f;
}
.product__color-list li {
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 8px 8px 0;
    padding: 1px;
    text-align: center;
    width: 30px;
}
.product__color-list li.fullprint span {
    border: 1px solid #fff;
    background: url(/assets/css/images/icon-fullprint.png) no-repeat transparent 50%;
}
.product__color-list li span {
    border: 1px solid rgba(0,0,0,.11);
    border-radius: 15px;
    display: block;
    height: 100%;
    overflow: hidden;
}

.btn-vm {
    background-color: #09f;
    border-color: #09f;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.btn-vm:active {
    background-color: #007acc;
    border-color: #007acc;
    color: #fff;
}
.btn-vm:hover {
    background-color: #33adff;
    border-color: #33adff;
    color: #fff;
}
.product__add-to-basket {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}
.product .to-favorites {
    color: #09f;
    font-size: 25px;
    position: absolute;
    right: -30px;
    top: 10px;
}
.product__add-to-basket input#add_to_button {
    background: #ec008c;
    border-color: #ec008c;
    border-radius: 6px;
    font-size: 18px;
    padding: 14px 12px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
}
.product__add-to-basket input#add_to_button2 {
    background: #0339ec;
    border-color: #0339ec;
    border-radius: 6px;
    font-size: 18px;
    padding: 14px 12px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
}
/*pay*/
.pay h2.title {
    font-size: 16px;
    color: #333;
    margin: 0;
}
.pay ul.list {
    font-size: 13px;
}


.pay ul.list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
.pay ul.list li .fa-check {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
    font-weight: 700;
    color: #25c766;
}
.pay ul.list {
    font-size: 13px;
}
.pay ul.cards_list li {
    padding: 0;
    margin: 0 !important;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: 0 0;
    width: 39px;
    height: 30px;
}
.pay ul.cards_list li img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
    .pay .list {
        color: #333;
        padding: 0;
        list-style: none;
        margin: 7px 0;
    }
}
    /*pay*/
/*delivery*/
.delivery h2.title {
    font-size: 16px;
    color: #333;
    margin: 0;
}
.delivery ul.list {
    font-size: 13px;
}
#product_delivery .list .justin_text {
    color: #eb4253;
}
.delivery ul.list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
.delivery .list .justin_text {
    color: #eb4253;
}
.delivery .list .justin_text .bold_text.empty_delivery_hidden {
    color: #333;
}
.delivery ul.list li .fa-check {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
    font-weight: 700;
    color: #25c766;
}
@media (min-width: 768px) {
    .delivery .list {
        color: #333;
        padding: 0;
        list-style: none;
        margin: 7px 0;
    }
}
.delivery .delivery_methods .info {
    font-size: 14px;
    line-height: 18px;
    color: #ed1b24;
    margin-bottom: 5px;
}
/*delivery*/

.product .delivery-full {
    color: #09f;
    cursor: pointer;
    position: relative;
}

.product__design-info {
    color: #999;
    font-size: 11px;
    line-height: initial;
    opacity: .5;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}
.product__design-info {
    color: #999;
    font-size: 11px;
    line-height: initial;
    opacity: .5;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}
.product__design-info .copyrights {
    margin: 0;
}
.product__design-info .copyrights a {
    font-size: 12px;
    margin-bottom: 5px;
}
.product__design-info .copyrights a span {
    color: #999;
}


.product-related__title {
    font-size: 24px;
    margin-bottom: 16px;
    padding-top: 6px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
}
.product__carousel-related-content {
    position: relative;
    height: 295px;
}
.product__carousel-related .owl-wrapper-outer {
    top: 1px;
}
.owl-item {
    float: left;
}
.product__carousel-related-content .owl-item:first-child {
    margin-left: 0;
}
.product__carousel-related-content .owl-item {
    text-align: center;
    margin: 20px 0;
    max-width: 200px;

}
.product__carousel-related-content .owl-item a {
    display: block;
}
.product__carousel-related-content .owl-item .item-image {
    border: 1px solid #f2f2f2;
    border-radius: 6px;
    margin: 0 5px 0 8px;
    overflow: hidden;
}
.product__carousel-related-content .owl-item span {
    color: #666;
    font-size: 12px;
    display: inline-block;
    line-height: 16px;
}
.product__carousel-related-content .owl-item .item-image img {
    width: 100%;
    padding-bottom: 5px;
}
.product__carousel-related-content .owl-item span {
    color: #666;
    font-size: 12px;
    display: inline-block;
    line-height: 16px;
}

.recommended-title {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 31px;
    padding-top: 41px;
}
/*Карточка товара*/

/*Достоинства магазина*/
#merits{
    text-align: center;
    padding-top: 12px;
}
.merits-title {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 31px;
    padding-top: 41px;
}
/*Достоинства магазина*/

/*Комментарии*/
#comments{
    text-align: center;
    padding-top: 12px;
}
.comments-title {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 31px;
    padding-top: 41px;
}
/*Коментарии*/


/***Админка***/

/*Админка дашбоард*/
blockquote.blockquote.mb-0 {
    border: 1px solid rgba(0, 0, 0, 0.125);
}
/*Админка дашбоард*/

/***Админка***/
