@font-face {
    font-family: Tahoma;
    src: url(/fonts/tahoma.ttf);
    font-weight: regular;
}
@font-face {
    font-family: Gabriola;
    src: url(/fonts/gabriola.ttf);
    font-weight: regular;
}
body{
    font-family: Tahoma;
    background-color: #efefef;
}
.body{
    margin-top: 15px;
    margin-bottom: 2px;
}
.span{
    margin-top: 4px;
}
/***********HEADER****************/
div#one_head {
    height: 34px;
    line-height: 34px;
    margin-bottom: 2px;
    font-size: 14px;
    background-color: #f0f0f0;
    color: #686868;
}
div#head_line {
    height: 34px;
    line-height: 34px;
    margin-bottom: 2px;
    font-size: 14px;
    background-color: #f0f0f0;
    color: #686868;
}
div#twoo_head {
    margin-bottom: 2px;
    background-color: #fff;
    padding-bottom: 60px;
    box-shadow: 0px 20px 14px -23px rgba(0, 0, 0, .8);
}
.all-count {
    text-align: left;
}
.zamanuha {
    text-align: right;
}

/**LOGO**/
.logo_text{
    font-size: 19px;
}
.head_block{
    margin: auto;
}
/**LOGO**/
.head_block_right{
    text-align: center;
}
.head_right{
    font-size: 21px;
    margin-bottom: 5px;
}
.head_block_right a{
    color: #212529;
}
.head_block_right a:hover{
    color: #212529;
}
.head_block_right_end{
    font-size: 15px;
}
span.badge {
    position: relative;
    top: -10px;
    left: -10px;
}
.head_block_right img {
    padding-right: 5px;
}
.head_block_right span {
    padding-right: 5px;
}
.head_block_right a span {
    margin-left: -7px;
}

div#tree_head {
    margin-top: 20px;
}
.tree_head_block{
    margin: auto;
}
#tree_head button.btn.btn-warning.btn-lg.btn-block {
    background: linear-gradient(340deg, #e86719 25%, #ffce44 75%);
    color: #fff;
    font-size: 18px;
    box-shadow: 0 0 5px 1px rgb(132, 132, 132);
}
#tree_head button.btn.btn-warning.btn-lg.btn-block:active {
    background: linear-gradient(340deg, #fff 25%, #fff 75%);
    background-color: #fff;
    color: #000;
    font-size: 18px;
    box-shadow: 0 0 5px 1px rgb(132, 132, 132);
}

.search_btn{
    border: 2px solid #e86719;
    margin-right: -3px !important;
    font-size: 1.2rem !important;
}
.search_btn_sub{
    border: 2px solid #e86719;
    margin-right: -3px !important;
    background-color: #e86719;
    color: #fff;
    font-size: 14px;
}
.search_btn_sub:hover {
    color: #fff!important;
    background-color: #e86719!important;
    border-color: #e86719!important;
}
.search_btn_sub:active {
    color: #fff!important;
    background-color: #e86719!important;
    border-color: #e86719!important;
}
.form-control.search_btn:focus {
    color: #495057;
    background-color: #fff!important;
    border-color: #e86719!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(232, 103, 25, 0.32)!important;
}
/***********HEADER****************/

/***********Слайдер****************/
img.d-block.w-100 {
    border-radius: 8px;
}
/*div#carouselExampleCaptions .carousel-item img {
    height: 220px;
}*/
/***********Слайдер****************/

/***********Левое меню****************/
ul.striped-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -50px;
}
ul.striped-list > li.head_left_menu {
    background: linear-gradient(340deg, #e9e9e9 25%, #f7f7f7 75%);
}
ul.striped-list > li {
    border-bottom: 1px solid rgb(221,221,221);
    padding: 6px;
    background-color: #f6f6f6;
}
ul.striped-list > li:nth-of-type(odd) {
    background-color: #efefef ;
}
ul.striped-list > li:last-child {
    border-bottom: none;
}
.list-group.list-group-flush.striped-list li{
    padding: 8px;
    color: #000;
    font-size: 16px;
}
.list-group.list-group-flush.striped-list li:hover{
    background: linear-gradient(to top, #ea6e15 25%, #f6b601 75%);
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
.menu_left_arrow{
    display: inline-block;
   /* position: relative;*/
    /*top: -5px;
    right: -160px;*/
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: none;
    content: url(/icon/menu_left_arrow.png);
    float: right;
    width: 10px;
    height: 10px;
    border-style: none;
    margin-right: 10px;
}
.dropdown-submenu:hover>a:after {
    display: block;
}

.dropdown-submenu:hover>a:after {
    /* border-left-color: #fff;*/
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.head_left_menu a{
    display: block;
}
.dropdown-menu {
    top: 0;
    left: 100%;
}
.block-left-menu ul.dropdown-menu{
    border-radius: unset;
}
.block-left-menu, .block-left-menu li, .block-left-menu a{
    color: #2f2f2f;
}
/***********Левое меню****************/
/***********Левые банеры****************/
.left_banner img{
    text-align: center;
    margin: 10px auto;
    display: block;
}
/***********Левые банеры****************/


a:hover {
    text-decoration: unset; /* Добавляем подчеркивание при наведении курсора на ссылку */
}
a {
    color: #337ab7;
    text-decoration: none;
}
/*Хлебные крошки*/

.force-back {
    font-family: Roboto,sans-serif;
    font-weight: 500;
    color: #666;
    margin-right: 20px;
    text-decoration: none;
    min-width: 125px;
}
.force-back .fa {
    color: #999;
}
.product-breadcrumbs__list {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item:not(:first-of-type):before {
    content: "\2014";
    position: absolute;
    top: 1px;
    left: -15px;
    width: 10px;
    height: 10px;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item:not(:first-of-type) {
    margin-left: 20px;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item {
    position: relative;
    display: inline-block;
    color: #999;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item a {
    font-size: 14px;
    color: #999;
}
.product-breadcrumbs__list .product-breadcrumbs__list-item a {
    font-size: 14px;
    color: #999;
}
.article {
    text-align: right;
}
.article span {
    color: #999;
    padding: 2px 6px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/*Хлебные крошки*/
/*preloader*/
.newloader {
    background: rgba(255,255,255,.8);
    height: 100%;
    min-height: 200px;
    width: 100%;
    z-index: 40;
    top: 0;
    left: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
.newloader .loading-effect-2 {
    width: 60px;
    height: 60px;
}
.newloader .clear-loading {
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.newloader .loading-effect-2>span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    animation: effect-2 2s infinite linear;
}
.newloader .loading-effect-2>span, .newloader .loading-effect-2>span:after, .newloader .loading-effect-2>span:before {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #09f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.newloader h3 {
    color: #09f;
    font-size: 18px;
}
/*preloader*/

/**************Главная Контент*******************/
.welcom-content{
    background-color: #fff;
    padding: 30px;
    margin: 10px 0;
}

.welcom-content .lightning h5{
    font-size: 1rem;
}
.welcom-content .lightning img{
    height: 25px;
}
.welcom-content .filter button{
    font-size: 11.5px;
}
.welcom-content .filter button.dropdown-toggle::after{
  display: none;
}
.welcom-content .filter .btn-lg, .btn-group-lg > .btn{
    padding: 5px 35px;
    padding-left: 15px;
}
.see-oll .btn{
    background: linear-gradient(340deg, #e86719 25%, #ffce44 75%);
    color: #fff;
    font-size: 16px;
    box-shadow: 0 0 5px 1px rgb(132, 132, 132);
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 180px;
}
.welcom-top-1 {
    padding: 0 5px;
}
.welcom-top-1 .card-img{
    position: relative;
    width: 85%;
    margin: 0 auto;
}
.welcom-top-1 img.welcome_sloy{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}
.welcom-top-1 .card{
   background: #fff;
    border: 10px solid rgb(239, 239, 239);
}
.welcom-top-1 .card-img-overlay{
    background-color: #b9b7b7a3;
    height: 20px;
}
.welcom-top-1  h5.card-title {
    margin: -10px 0;
    text-align: center;
}

.bought .card {
    background-color: #e9e9e9;
    border-radius: 0rem;
    border: 5px solid #fff;
}
.bought .card-body {
    padding: 10px;
}

.bought .name_block{
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
.bought .media img.rounded-circle {
    max-width: 40px;
}
.bought .media h5 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
}
.bought .media .text {
    color: #a9a9a9;
    margin-top: -5px;
    font-size: 12px;
}
.bought .card-text {
    color: #3b3b3b;
    margin: 10px 20px 20px 20px;
    font-family: Gabriola;
    font-size: 19px;
    line-height: 12.64px;
    position: relative;
}
.bought quotes {
    color: #f6b401;
    margin: 20px;
    font-family: Tahoma;
    font-size: 55px;
    line-height: 18.64px;
    position: absolute;
}
.bought quotes:nth-child(1) {
    left: -55px;
    top: -20px;
}

.bought quotes:nth-child(even) {
    right: -55px;
    bottom: -25px;
}
/**************Главная Контент*******************/
/**************Главная Слайдер низ*******************/
.block-down-carousel h5{
    color: #393939;
    font-size: 16px;
}
#carouselExample .carousel-inner{
    position: relative;
}
#carouselExample img.welcome-slider-sloy{
    position: absolute;
    top: 0;
    left: 7.4%;
    height: 88%;
    width: 85%;
    /***************НЕТУ мобильной версии*************************/
}


/**************Главная Слайдер низ*******************/
/**************Главная низ*******************/
.mnogo-texta{
    padding: 0 60px;
}
.mnogo-texta h5{
    color: #000000;
    font-size: 19px;
}
.mnogo-texta p{
    color: #6b6b6b;
    font-size: 16px;
    line-height: 16.64px   ;
}
/**************Главная низ*******************/


/***************Страница категории*****************/
.category-list .row{
    background-color: #fff;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.category-list .row .breadcrumb{
    background-color: #fff;
    margin-bottom: 0;
    display: contents;
}
.home-icon{
    margin: 0 5px;
    height: 20px;
    width: 20px;
}
.breadcrumb-row{
    padding: 8px;
    font-size: 15px;
}
.breadcrumb-row a{
    color: #272727;
}
.breadcrumb-row li.active{
    color: red;
}
.category-name h5{
    margin: 10px;
    color: #272727;
    font-weight: normal;
    font-size: 15.5px;
}
.filter-category {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    margin-bottom: 5px;
    margin-right: 5px;
}
.filter-category label {
    text-align: center;
    display: block;
    font-size: 15px;
    color: #000;
}
.filter-category select#inlineFormCustomSelectPref {
    border: unset;
    background: unset;
    width: unset;
    margin: 0 auto;
    display: block;
    margin-top: -15px!important;
    border-bottom: 1px dashed #727272;
}
.filter-category .custom-select:focus {
    box-shadow: unset;
}
.category-content{
    padding: 10px;
}

/*Пагинация*/
.row-pagination{
    margin-left: -15px;
    margin-top: -20px;
    padding-bottom: 20px;
}
.row-pagination .pagination {
    margin: 20px 20px 20px 60px;
}

.row-pagination .page-item .page-link {
    background: linear-gradient(360deg, #ededed 25%, #ffffff 75%) ;
    padding: 0.6rem 1rem;
    border-color: #dee2e6;
    color: #000;
}

.row-pagination .page-item.active .page-link {
    color: #da251d;
    font-size: 16px;
}
.row-pagination .page-item:first-child .page-link {
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
}
.row-pagination .page-item:last-child .page-link {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.row-pagination .page-item:nth-child(2n) .page-link{
    background: #fff;
}
.row-pagination  .coll {
    margin: 20px 20px 20px 60px;
}
.row-pagination  .coll label{
    float: left;
}
.row-pagination  .coll select#inlineFormCustomSelectPref {
    float: left;
    width: 60px;
}
/*Пагинация*/

/***************Страница категории*****************/

/***************Страница товара*****************/
.row.product-top{
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.row.product-top .breadcrumb{
    background-color: #fff;
    margin-bottom: 0;
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.home-icon{
    margin: 0 5px;
    height: 20px;
    width: 20px;
}
.product-top {
    padding: 5px 0 0 0;
}
.product-breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.product__top-block{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}
.product__image-preview .swiper-slide img{
    width: 100%;
    height: auto;
    display: block;
    padding: 0 10px 10px 10px;
}
.product .to-favorites {
    color: #09f;
    font-size: 25px;
    position: absolute;
    right: -30px;
    top: 10px;
}
.footer-image{
    font-size: 14px;
    color: #717171;
    text-align: center;
}
.product-social-text{
    position: absolute;
    margin-top: -20px;
    font-size: 14px;
    color: #2a2a2a;
}
.product__info .social img{
    max-height: 30px;
}
#product_images img.main-image {
    width: 100%;
    height: auto;
}
.product-info-model-name{
    margin-top: 20px;
}
.product-info-model-name p{
    margin-bottom: 0;
    color: #2c2c2c;
    font-size: 18px;
}
.product__info-name{
    font-size: 24px;
    color: #2c2c2c;
    margin-top: 15px;
}
.product__info-price{
    font-size: 24px;
    color: #2c2c2c;
    margin-top: 15px;
}
.size-name {
    font-size: 14px;
    padding-bottom: 5px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    display: inline-block;
}
.size-name_table {
    font-size: 14px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    color: #09f;
    margin-left: 16px;
    cursor: pointer;
    display: inline-block;
}
.size-table {
    margin: 5px 0 30px 0;
    list-style: none;
}
.size-table li {
    display: inline-block;
    list-style: none;
}
input[type=radio] {
    display: none;
}
.size-table :checked + label {
    font-weight: bold;
}
.size-table li.form-check.active label {
    font-weight: bold;
    border-color: #09f;
}
.size-table .form-check {
    padding-right: 10px;
    padding-left: unset;
}
.size-table li label {
    cursor: pointer;
    width: 90px;
    display: inline-block;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #666666;
    font-weight: bold;
    margin: 0 8px 6px 0;
    padding: 5px 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    list-style: none;
}

.size-table li label:hover {
    border-color: #09f;
}
.color-name {
    font-size: 14px;
    line-height: 18px;
    color: #161515;
    display: inline-block;
    vertical-align: middle;
}
.color-table {
    margin: 5px 0 30px 0;
    list-style: none;
}
.color-table li{
    display: inline-block;
    /*float: left;*/
}
.color-table li label{
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 8px 8px 0;
    padding: 1px;
    text-align: center;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.color-table li label:hover{
    box-shadow: 0 0 0 2px #09f;
}
.color-table li.form-check.active label{
    box-shadow: 0 0 0 3px #09f;
}
.color-table .form-check {
   padding-left: unset;
}
.button-row.row {
    margin-top: 20px;
}
.button-row.row button{
    border-radius: 10px;
    font-size: 17px;
    color: #fff;
}
.button-row.row button.button-add{
    background: linear-gradient(340deg, #e86719 25%, #ffce44 75%);
    box-shadow: 0 0 3px 1px rgb(132, 132, 132);
    padding: 5px 45px;
    margin-right: 30px;
}
.button-row.row .button-add.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    background: linear-gradient(340deg, #e15716 25%, #d69322 75%);
    color: #fff;
}
.button-row.row button.button-add-fast{
    background: linear-gradient(340deg, #c20000 25%, #ff0005 75%);
    box-shadow: 0 0 3px 1px rgb(132, 132, 132);
    padding: 5px 23px 5px 30px;
}
.button-row.row button.button-add-fast span{
   font-size: 12.5px;
}
.turbo-text{
    display: inline-block;
    line-height: 20px;
}
.button-row.row button.button-add-fast img{
    display: inline-block;
    vertical-align: baseline;
    margin-left: 7px;
}
.button-row.row .button-add-fast.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    background: linear-gradient(340deg, #dd0000 25%, #ff423c 75%);
    color: #fff;
}
.info-by-text {
    margin-top: 25px;
    font-size: 15px;
    color: #393939;
}
.info-by-text a{
    border-bottom: 1px dashed #000000;
    color: #393939;
}
a.info-by-text_a{
    display: table;
}
.info-by-text a.twoo{
    margin-top: 10px;
}
.info-by-text a.tree{
    font-size: 13.5px;
}



/************************************************************************************/
/***************Страница товара*****************/

/***************Карточка товара*****************/
.card-img-top{
   /* width: 227px;
    height: 229px;*/
}
.card-product{
    border: unset;
    border: 5px solid rgb(255, 255, 255);
    border-radius: unset;
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    color: #494949;
}
.card-product-block{
    border: 2px solid #fbfbfb;
}
.card-product a{
    color: #494949;
}
.card-product .card-body {
    padding: 2px 10px;
}
.card-product .card-body span{
    color: #494949;
    display: flex;
}
.card-product-img{
    background-color: #fff;
    position: relative;
}
.card-product  .card-product-img .card-product-img-line{
    position: absolute;
    top: 5px;
    left: 1%;
}
.card-product  .card-product-img .card-product-img-line img{
    display: inline-block;
}
.card-product .card-product-img  img.favorites{
    position: absolute;
    top: 5px;
    right: 1%;
}
/***************Карточка товара*****************/

.recommended-title {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 31px;
    padding-top: 41px;
}

/********Цвет*********/
._3zaI2RIo {
    margin: 5px 0 30px 0;
    list-style: none;
}
._2bYGZwie {
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 8px 8px 0;
    padding: 1px;
    text-align: center;
    width: 30px;
}
._1iS-oeTU {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    display: block;
    height: 100%;
    overflow: hidden;
}
._2uULC-qF {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
}

/********Цвет*********/
/********Size*********/
.size_table{
    margin: 5px 0 30px 0;
    list-style: none;
}
.size_table .form-check:hover {
    border-color: #09f;
}
.size_table .form-check {
    cursor: pointer;
    width: 110px;
    display: inline-block;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #666666;
    font-weight: bold;

    margin: 0 8px 6px 0;
    padding: 5px 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    list-style: none;
}
.size_table input[type="radio"]{
    -webkit-appearance: radio;
}
.form-check-label::before {
    box-shadow: 0 0 0 2px #09f;
}
/********Size*********/
/*Карточка товара*/

/*Достоинства магазина*/
#merits{
    text-align: center;
    padding-top: 12px;
}
.merits-title {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 31px;
    padding-top: 41px;
}
/*Достоинства магазина*/

/*Комментарии*/
#comments{
    text-align: center;
    padding-top: 12px;
}
.comments-title {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 31px;
    padding-top: 41px;
}
/*Коментарии*/


/***Админка***/

/*Админка дашбоард*/
blockquote.blockquote.mb-0 {
    border: 1px solid rgba(0, 0, 0, 0.125);
}
/*Админка дашбоард*/

/***Админка***/

/***Конструктор***/
/*.preview.Frame .image, .preview.Frame .edit-zone {
    !*top: 19%;
    right: 25%;
    width: 50%;
    padding-bottom: 62.5%;*!
    height: 450px;
}
.preview .image, .preview .edit-zone {
    !*position: absolute;
    height: 0;*!
    background-color: #f4f4f4;
}
.background {
    background-repeat: no-repeat;
    background-position: center center;
}
.windows-loader .spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    animation: windowsRotate 1.4s infinite ease-in-out, windowsBackground 1.4s infinite ease-in-out alternate;
}
.edit-zone img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    cursor: move;
    transform-origin: 0 0;
}
*/
.construct .product__image-preview{
    position: absolute;
    bottom: 10px;
}
.construct .product__image-preview #swiper-thumbnails .swiper-vm-button-next, .product__image-preview #swiper-thumbnails .swiper-vm-button-prev{
    background-color: unset!important;
}
.edit-zone.windows-loader {
    height: 500px;
}
/***Конструктор***/
/****Корзина*****/
.btn-back{
    background-color: #ff4d05;
    color: #fff;
}
.link-back:hover{
    color: #fff;
}
.btn-back:active{
    background-color: #ff2500;
    color: #fff;
}
.btn-back:hover{
    background-color: #ff2500;
    color: #fff;
}
.cart-block{
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    top: 10px;
}
#cart span.badge {
    background-color: #e86719;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.img_cart{
    width: 100%;
}
.product_cart{
    color: #2c2c2c;
    font-size: 18px;
}
.product_type_cart{
    color: #2c2c2c;
    font-size: 16px;
}
a.product_name_cart{
    color: #2c2c2c;
    font-size: 24px;
    line-height: 3;
}
.card-product-block .alert-light{
    border-color: #eaeaea;
}
.product_attribute_cart{
    font-size: 17px;
    text-align: center;
}
.product_attribute_cart img{
    width: 11px;
}
.product_attribute_block_cart{
    border-color: #f5f5f9;
}
.color-table.product_attribute_block_cart li label{
    border-radius: 5px;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 21px;
    height: 21px;
    font: 21px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #e5e5e5;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 21px;
    height: 21px;
    font: 18px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #e5e5e5;
}

.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
.white {
    background-color: #fff;
    color: #FF008A;
    border-color: #FF008A;
}
.product_attribute_cart .qty{
    display: contents;
}
img.red-x{
    position: absolute;
    right: 5px;
    top: 5px;
}
.cart-block  .CartItem span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cart-block  .CartItem input{
    border: 0;
    width: 2%;
}
.cart-block  .CartItem input::-webkit-outer-spin-button,
.cart-block  .CartItem input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cart-block .CartItem input:disabled{
    background-color:white;
}
.CartItem.row {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0;
}
section.card-product.product__top-block {
    padding-top: 0px;
    margin-top: 0;
}
.cart-animate{
    display: none;
}
.total-block{
    margin: auto
}
.total-col{
    font-size: 16px;
}
.total-price{
    font-size: 26px;
}
.cart-bottom{
    margin-top: 50px;
}
.promo-block{
    text-align: center;
    margin: 0 auto;
    display: table;
}
.promo-text{
    text-align: left;
    margin-left: 10%;
}
.promo-form{
    float: left;
    border-radius: 10px !important;
    border-color: #FF008A;
    color: #FF008A;
}
.promo-form button{
    border-radius: 7px !important;
    border-color: #ff3a00;
    color: #ff3a00;
    padding: 7px 30px;
}
.promo-form button:hover{
    background-color: #ff5f1a;
    color: #fff;
    border-color: #ff3a00;
}
.promo-form button:active{
    background-color: #ff5f1a;
    color: #fff;
    border-color: #ff3a00;
}
.promo-form input{
    border-radius: 5px !important;
    border-color: #d3d3d3;
    color: #FF008A;
    text-transform: uppercase;
    font-size: 18px;
    width: 160px;
}
.promo-text{
    font-size: 16px;
    color: #515050;
}
.cart-steep-1{
    margin-top: 15px;
    font-size: 22px;
    background-color: #ff3a00;
    color: #fff;
    border-radius: 7px;
    padding: 7px 50px;
}
.cart-steep-1:hover{
    font-size: 22px;
    background-color: #ff0000;
    color: #fff;
}
.cart-steep-1:active{
    font-size: 22px;
    background-color: #ff0000;
    color: #fff;
}
.total-price-cart{
    font-size: 25px;
}
.total-info-cart{
    font-size: 19px;
}



/********Вас заинтересует***********/
._3STaTZGf {
    overflow: visible;
}
.a2cboztt {
    overflow: hidden;
}
.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}
._3STaTZGf {
    overflow: visible;
}
.a2cboztt {
    overflow: hidden;
}
.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}
._3STaTZGf .slick-arrow svg {
    width: 10px;
    height: 20px;
}
._3STaTZGf .slick-list {
    margin: 0 -8px;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}
._3STaTZGf .slick-track {
    display: flex;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-track {
    top: 0;
    left: 0;
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}
.a2cboztt .slick-arrow:hover {
    background: #e6f1f5;
    color: #a1a1a1;
}
._3STaTZGf .slick-arrow {
    background-color: #161515;
    z-index: 10;
    width: 40px;
    height: 40px;
    top: -20px;
    bottom: 0;
    margin: auto;
    border-radius: 40px;
}
._3STaTZGf .next {
    right: -20px;
}
._2dg9WESH .next {
    right: 10px;
    bottom: auto;
    left: auto;
}
._2dg9WESH .slick-arrow {
    top: 50%;
    transform: translate(0%, -50%);
}
.a2cboztt .slick-arrow {
    position: absolute;
    transform-origin: center center;
    z-index: 1;
    font-size: 16px;
    background: #fff;
    color: #a1a1a1;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
    outline: none;
}
._3STaTZGf .dots {
    font-size: 0;
    text-align: center;
    margin-top: 25px;
    padding: 0;
}

/********Вас заинтересует***********/

/****Корзина*****/

/*****************ФУТЕР****************/
.bottom-footer.container {
    margin-top: 20px;
}
footer{
    margin-top: 20px;
}

footer .bottom-footer-row{
    padding-top: 10px;
}

.bottom-footer.container {
    margin-top: 20px;
}
.bottom-footer .bottom-footer-line {
    background: #efefef!important;
}
.bottom-footer .bottom-footer-line img{
    margin-right: 3px;
}
.bottom-footer {
    color: #565656;
}
.bottom-footer .search_btn{
    font-size: 15px!important;
}
footer.bottom-footer  {
    background: #fff;
}
footer.bottom-footer .footer-menu__title {
    font-size: 17px;
    margin-bottom: 0px;
    font-family: Roboto,sans-serif;
    font-weight: 900;
}
footer.bottom-footer ul {
    padding: 0;
}
footer.bottom-footer .footer-menu__item {
    display: block;
    line-height: 18px;
}
footer.bottom-footer ul li {
    display: inline-block;
    list-style: none;
    margin-bottom: 0px;
}
footer.bottom-footer .footer-menu__link {
    font-size: 14px;
}
footer.bottom-footer a {
    color: #565656;
}
footer .contact{
    margin: 0;
    padding: 0;
    line-height: 18px;
}
footer .border-fone{
    background-color: #fafafa;
}
/*****************ФУТЕР****************/

/**************************************/
