*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #212529;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#mybody{
  background: url('/body.jpg') no-repeat center center;
  background: url(/body.jpg) no-repeat 5%;
  height: 100%;
  background-size: contain;
  width: 100%;
  text-align: center;
  display: block;
  background-position-x: center;
  background-color: #fff;
}
.editor {
  height: 250px!important;
  width: 160px;
  overflow: hidden;
  position: relative;
  top: 120px;
  left: 185px;
}
.loader {
  color: #000!important;
}
